
#root {
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 8px;
  margin-bottom: 12px;
  color: white; /*Global text color already white*/
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  color: #26ffcb;
}

.board {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  /*Added this to fix board bounding box and strike*/
  position: relative;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  display: flex;
  justify-content: center;
  /*New, possibly change later
  justify-content: center;
  align-items: center;
  */
  height: 160px;
  width: 160px;
  background: #3f4756;
  border: 4px solid #282c34;
  border-radius: 12px;
  cursor: pointer;
  /*Bandaid, prevents img from resizing the square*/
  overflow: hidden;
}

.square img {
  padding: 25px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /*object-fit: contain;*/
  aspect-ratio: 1;
}

.square img.hide {
  display: none;
}

.square:hover img.hide {
  display: block;
  opacity: 0.33;
}

/* STRIKE CSS start */
.strike {
  position: absolute;
  background-color: white;
}

.strike-row-1 {
  width: 110%;
  height: 7px;
  top: 15.85%;
  left: -5%;
}
.strike-row-2 {
  width: 110%;
  height: 7px;
  top: 49.4%;
  left: -5%;
}
.strike-row-3 {
  width: 110%;
  height: 7px;
  top: 83%;
  left: -5%;
}
.strike-column-1 {
  height: 110%;
  width: 7px;
  left: 16.25%;
}
.strike-column-2 {
  height: 110%;
  width: 7px;
  left: 49.55%;
}
.strike-column-3 {
  height: 110%;
  width: 7px;
  left: 82.9%;
}
/* MESS AROUND WITH THIS */
.strike-diagonal-1 {
  width: 105%;
  height: 8px;
  top: 49%;
  left: -2.5%;
  transform: skewY(45deg);
}
.strike-diagonal-2 {
  width: 105%;
  height: 8px;
  top: 49%;
  left: -2.5%;
  transform: skewY(-45deg);
}
/* STRIKE CSS end */

.game-over {
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  /*margin-top: -18px;*/
  margin-top: 15px;
}

.game-over img {
  vertical-align: middle;
  max-width: 5%;
  height: auto;
}

.buttonSection {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  max-width: 510px;
}

.buttonSection .row {
  margin-bottom: 8px;
  width: 510px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.bottomButton {
  /*width: 150px;
  height: 60px;*/
  flex: 1;
  line-height: 53px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background: #3f4756;
  font-size: 30px;
  font-weight: bold;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-left: 4px;
  margin-right: 4px;
}

.bottomButton:hover {
  background: #3b4352;
}

.reset {
  color: #26ffcb;
  /*margin-left: 10px;
  margin-right: 10px;*/
}

.undo {
  color: #ff0064;
  /*margin-left: 10px;
  margin-right: 10px;*/
}

.undo span {
  position: relative;
  top: 4px;
  font-size: 28px;
}

/* Game-mode toggle */

.gamemode {
  color: white;
}

.gamemode .twoplayer {
  display: none;
}

/*.difficulty {
  
}*/

.easy {
  color: #26ffcb;
}

.medium {
  color: white;
}

.hard {
  color: #ff0064;
}

/* Responsive design */
/*@media screen and (max-width: 510px) {
  .board {
    height: 400px;
    width: 400px;
  }
  .square {
    height: 130px;
    width: 130px;
  }
}*/

@media screen and (max-width: 570px)/* and (orientation: portrait)*/ {
  .board {
    height: auto;
    width: auto;
    max-height: 100vw;
    max-width: 100vw;
  }
  .square {
    max-height: 28vw;
    max-width: 28vw;
    border: 3px solid #282c34;
  }
  .square img {
    padding: 4vw;
  }
  .buttonSection {
    width: 90vw;
  }
  .buttonSection .row {
    width: 90vw;
    max-height: 15vw;
  }
  .bottomButton {
    text-align: center;
    font-size: 5.5vw;
    border-radius: 8px;
  }
  .undo span {
    position: relative;
    top: 2px;
    font-size: 5.5vw;
  }
  .title {
    font-size: 13vw;
  }
}
